{
    "extends": [
        "react-app"
    ],
    "ignorePatterns": [
        "app/assets/builds/**/*",
        "node_modules/**/*"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    }
}