<div>
  <% if current_restaurant %>
    <%= link_to 'Menu', menu_sections_path, class: "text-sm" %>
    <%= link_to 'Orders', orders_path %>
    <%= link_to 'Profile', restaurants_path %>
  <% end %>
</div>